.image-contactus-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
     url("https://media.istockphoto.com/vectors/hospital-building-isolated-vector-illustration-flat-cartoon-modern-vector-id1058679916?k=20&m=1058679916&s=612x612&w=0&h=d4k9x_3TC1_j8DtFzH3A1CigLXrjPn8dtmxhbq0umI8=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom:110px;
 }